.text-block {
    color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
    margin: 33vh 0 0 0;
}

.about-block {
    text-align: center;
    background-color: rgb(181, 206, 255);
    border-radius: 10px;
    width: 80%;
    margin: 10vh 10% 0 10%;
    padding: 30px;
    font-size: 25px;
    transition: 0.3s ease;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px;
}

.about-block:hover {
    transform: scale(1.02);
    box-shadow: 10px 10px;
}

a {
    color: #004d7c;
}

.linkedin-icon {
    position: fixed;
    left: 120px;
    bottom: 50px;
    width: 70px;
    transition: 0.3s ease;
}

.linkedin-icon:hover {
    transform: scale(1.1);
}

.profile-image {
    margin: 20px 40%;
    width: 300px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.05);
}

.github-icon:hover {
    transform: scale(1.1);
}

.github-icon {
    background-color: white;
    border-radius: 100px;
    width: 70px;
    position: fixed;
    left: 30px;
    bottom: 50px;
    transition: 0.3s ease;
}